<section>
  <h1>Detalhes do Projeto <%= @project.name %></h1>
  <div class="row"><%= link_to 'Mídia', @project.media_url %></div>
  <div class="row"><%= @project.user %></div>
  <div class="row"><%= @project.category.name %></div>
  <div class="row"><%= @project.location %></div>
  <div class="row"><%= @project.stage %></div>
  <div class="row"><%= @project.main_social %></div>
  <div class="row"><%= @project.description %></div>
  <div class="row"><%= @project.looking_for %></div>
</section>
