<section>
  <h1><%= @project.name %></h1>
  <dl class="">
    <dt>Criador</dt>
    <dt><%= @project.user %></dt>
    <dt>Categoria</dt>
    <dt><%= @project.category %></dt>
    <dt>Localização</dt>
    <dt><%= @project.location %></dt>
    <dt>Estágio</dt>
    <dt><%= @project.stage %></dt>
    <dt>Rede social</dt>
    <dt><%= @project.main_social %></dt>
    <dt>Descrição</dt>
    <dt><%= @project.description %></dt>
    <dt>O que procura?</dt>
    <dt><%= @project.looking_for %></dt>
  </dl>
</section>
