<section>
  <h1>Detalhes do Projetos</h1>
  <div class="row"><%= @project.name %></div>
  <div class="row"><%= @project.user %></div>
  <div class="row"><%= @project.category %></div>
  <div class="row"><%= @project.location %></div>
  <div class="row"><%= @project.stage %></div>
  <div class="row"><%= @project.main_social %></div>
  <div class="row"><%= @project.description %></div>
  <div class="row"><%= @project.looking_for %></div>
</section>
